@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Sree+Krushnadevaraya');

html{
  overflow-x:hidden;
}

body{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  background-color:#f5f5f5;
  font-size:12px;
}

header{
  height:45px;
  width:100%;
  z-index:1000;
  position:fixed;
  top:0px;
  font-size:1.2rem;
  background-color:cyan;
  overflow:hidden;
}

.header-left{
  color:white;
  font-size:1.5em;
  font-family: 'Bowlby One SC', cursive;
  position:relative;
  height:45px;
  vertical-align: bottom;
  text-align:center;
}

a, a:visited header a,a:visited{
  color:inherit;
  text-decoration:none;
}

.SNS-wrapper{
  text-align:center;
}

.SNS li{
  display:inline-block;
  box-align:center;
}

.btn {
  font-size:40px;
  margin-right:40px;
  display: inline-block;
  cursor: pointer;
}

.section-wrapper{
  border: black 1px solid;
  border-bottom-width:2px;
  border-top-width:2px;
}

.section {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family: 'Roboto Slab', serif;
  width:80%;
  padding-bottom:20px;
}

.section h1{
  font-family: 'Sree Krushnadevaraya', serif;
  letter-spacing:1px;
  font-size:30px;
  margin-bottom:30px;
  text-align:center;
}

.headshot{
  padding:0;
  width:100%;
  display:inline-block;
}

.headshot li{
  transform:skewX(-2deg);
  list-style:none;
}

.headshot li img{
  width:45%;
  box-shadow:10px 10px rgba(0,0,0,0.1);
}

.about {
  text-align:left;
  width:100%;
  display:inline-block;
}

.publications{
  background-color:#dcdcdc;
}

.publications li{
  text-align:left;
}

.skills{
  background-color:#fff;
}

.skills li{
  text-align:left;
}

.contact{
  background-color:#dcdcdc;
}

.contact i{
  font-size:50px;
}

}
.contact-box{
  box-align:center;
  width:90%;
  background-color: black;
}

.contact li{
  display:block;
  height:120px;
  text-align:center;
}

.background-img-wrapper{
  position:relative;
}

.background-img-wrapper p{
  color:black;
  font-family: 'Baloo Chettan', cursive;
  font-size:5rem;
  text-align:left;
  position:absolute;
  z-index:10;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  animation:rotate-animation 3s linear infinite;
  margin:0;
  padding:0;
}

#background-img{
  width:auto;
  height:auto;
  min-width:100%;
  min-height:100%;
  background-size:auto;
  z-index:1;
}

.background-video-wrapper{
  position:relative;
}

.background-video-wrapper p{
  position:absolute;
  color:white;
  text-align: left;
  top:10px;
  left:40px;
  width:50%;
}

.background-video-wrapper video{
  width:100%;
}

.footer{
  text-align:center;
}
